/* header */
.header-container {
    background-image: url("../../public/img/background.png");
    width: 100%;
    height: 620px;
    overflow: hidden;
}

.mangkok > img {
    transform: translateY(4em);
}

.footer-top {
    background-image: url("../../public/img/ImageFooter.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cardbig-container {
    display: none;
}

@media only screen and (min-width:992px) {
    .menu-container {
        width: 60em;
    }
    .cardbig-container {
        width: 60em;
    }
    .cardbig-container {
        display: block !important;
    }
}
